{% extends "bases/base.html" %} {% load static %} {% block 'head' %}
<link href="{% static 'usuarios/css/css.css' %}" rel="stylesheet" />
{% endblock 'head' %} {% block 'conteudo' %}

<section style="margin-top: 160px; margin-left: 340px">
  <div class="fundo-login">
    <div class="container">
      <h3 class="font-destaque-secundaria">
        <img
          width="30%"
          src="{% static 'geral/img/logo.png' %}"
          style="margin-left: 45px"
          alt=""
        />
      </h3>
     
      
      <div>
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <!-- <label>Nome de usuário</label> -->
          <p style="color: white;" class="font-g" >Seja bem-vindo! Estamos aqui para cuidar da sua saúde.</p>
          <br />
          <input type="text" class="input-default" placeholder="Nome de usuário" name="username" />
          <br />
       
          <!-- <label>Senha</label> -->
          <br />
          <input type="password" class="input-default" placeholder="Senha" name="senha" />
          <br />
          <br />
          <input type="submit" class="btn-default btn-largo play" value="Logar" />
        </form>
        <hr width="100%" size="2" color="blue" />
        
        
        
        <div class="mensagem-container"> 
          
          {% if messages %}
          
          {% for message in messages %}
          <div class="alert {{ message.tags }} " style="width: 590px">
            {{ message }}
          </div>
          {% endfor %} {% endif %}
          
        </div>
        
        
        <input class="hidden" type="radio" id="recoverssenha"></input>
        <label for="recoverssenha" class="cursor-pointer">Esqueceu a senha?</label>

        <div class="redirect-pages"  style="margin-left:200px;" >

          <input class="hidden" type="radio" id="plogin"></input>
          <label for="plogin" class="cursor-pointer">Ainda não faz parte da família BlueLabs? Faça o </label>
          <a href="http://127.0.0.1:8000/usuarios/cadastro/" class="cursor-pointer login"> seu cadastro!</a>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
